body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    margin: 40px;
    font-size: 20px;
    background: palegoldenrod;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    box-shadow: 0 0 0 1px;
}
